.add {
  box-sizing: border-box;
  padding-top: 17rem;
  text-align: center;
  background-position: top center;
  background-repeat: no-repeat;

  .button {
    min-width: 20rem;
  }
}

.add_users {
  background-image: url('../img/add_users.png');
}

.add_audience {
  margin-top: 10rem;
  background-image: url('../img/add_audience.png');

  .add__title {
    color: @black;
  }
}

.add_campaing {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -14rem;
  padding-top: 15rem;
  background-image: url('../img/add_campaing.png');
}

.add__title {
  margin: 0 0 4rem;
  font-weight: normal;
  font-size: 2rem;
  color: @gray;
}

.add__title_with-text {
  margin-bottom: 1rem;
}

.add__text {
  margin: 0 0 3rem;
  font-size: 1.4rem;
  color: @gray;
}
