.add-users {
  box-sizing: border-box;
  padding-top: 17rem;
  text-align: center;
  background: url('../img/add_users.png') top center no-repeat;

  .button {
    min-width: 20rem;
  }
}

.add-users__title {
  margin: 0 0 4rem;
  font-weight: normal;
  font-size: 2rem;
  color: @gray;
}