.badge {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 1.9rem;
  min-width: 1.9rem;
  line-height: 1.9rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 1.2rem;
  background: #f2f5f7;
}

.badge_green {
  background: @green;
  color: #fff;
}

.badge_md {
  min-width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  padding: 0 1.2rem;
  font-size: 1.3rem;
  font-weight: normal;
}
