html,
body {
  height: 100%;
  font-size: 14px;
  font-family: OpenSans, sans-serif;
  background: #fff;
  color: @black;
}

a {
  color: @blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}