.button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 11.5rem;
  line-height: 1;
  margin: 0;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  white-space: nowrap;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.15);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;

  .icon {
    margin-right: 0.5rem;
  }

  .badge {
    margin-left: 0.5rem;
  }
}

.button_blue {
  background: @blue;
  color: #fff;

  &:hover {
    background: #17a7ec;
  }
}

.button_green {
  background: @green;
  color: #fff;

  &:hover {
    background: #10b659;
  }
}

.button_red {
  background: #f13d5b;
  color: #fff;

  &:hover {
    background: #d6314c;
  }
}

.button_bordered_blue {
  border-color: @blue;
  color: @blue;
  box-shadow: none;

  &:hover,
  &.active,
  .button-checkbox input:checked + & {
    background: @blue;
    color: #fff;

    .icon_white {
      opacity: 1;
    }

    .icon_blue {
      opacity: 0;
    }
  }

  .icon {
    transition: opacity 0.2s ease;
  }

  .icon_white {
    opacity: 0;
  }

  .icon_blue {
    opacity: 1;
  }

  .badge {
    font-weight: bold;
    font-size: inherit;
    color: @blue!important;
  }
}

.button_submit {
  padding: 1.7rem 2.5rem;
  font-size: 1.4rem;
}

.button_small {
  height: 3.7rem;
  line-height: 3.5rem;
  padding: 0 1.5rem;
  font-size: 1.3rem;
  font-weight: normal;
  text-transform: capitalize;

  strong {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.button_sm {
  padding: 0.9rem 2rem;
  font-size: 1.2rem;
}

.button_input {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: none;
  font-size: inherit;
  text-transform: inherit;
  font-weight: inherit;
  background: #f8fafb;
  cursor: inherit;
}

.button_full-width {
  width: 100%;
}

.button__text {
  vertical-align: middle;
}

.button__icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  width: 1.4rem;
  height: 1.4rem;

  .icon {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.button-checkbox {
  input {
    display: none;
  }
}