.button {
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 12px 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  background-color: transparent;
  cursor: pointer;

  .icon {
    margin-right: 5px;
  }

  .badge {
    margin-left: 5px;
  }
}

.button_blue {
  background: @blue;
  color: #fff;
}

.button_green {
  background: @green;
  color: #fff;
}

.button_bordered_blue {
  border-color: @blue;
  color: @blue;
  box-shadow: none;
}

.button_submit {
  min-width: 200px;
}

.button_small {
  padding: 7px 10px;
  font-size: 13px;
  font-weight: normal;
  text-transform: capitalize;
}

.button_sm {
  padding: 9px 20px;
  font-size: 12px;
}

.button_md {
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 14px;
}

.button__text {
  vertical-align: middle;
}