.chart__plot {
  margin: 0 0 30px;
}

.chart__description {
  text-align: center;
}

.chart__legend {
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  width: 10px;
  margin: 0 5px 0 0;
  border-radius: 10px;
}

.chart__legend_blue {
  background: @blue;
}

.chart__legend_red {
  background: @red;
}