.content {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  height: ~'calc(100% - 80px)';
  table-layout: fixed;
}

.content__col {
  display: table-cell;
  vertical-align: top;
}

.content__col_vam {
  vertical-align: middle;
}

.content__col_side {
  width: 260px;
  background: #f8fafb;

  @media (max-width: 1279px) {
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    overflow: hidden;
    width: 80px;
    height: 100%;
    box-shadow: 1px 0 1px rgba(0,0,0,0.1);
    transition: all 0.2s ease;

    &:hover {
      width: 260px;

      .menu-item__label,
      .sidebar__title,
      .sidebar__copy {
        opacity: 1;
      }
    }

    .menu-item__label,
    .sidebar__title,
    .sidebar__copy {
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }
}

.content__col_main {
  width: auto;
  padding: 30px 30px 10px;

  @media (max-width: 1279px) {
    width: 100%;
    padding-left: 110px;
  }
}

.content__col_right {
  width: 25%;
  vertical-align: middle;
  background: #f8fafb;
}

.content__title {
  margin: 0 0 20px;
}

.content__section {
  margin: 0 0 20px;
}