.copy {
  font-size: 1.3rem;
  color: @gray;

  a {
    color: @gray;
  }

  ul {
    list-style-type: none;
    margin: 0 0 2rem;
    padding: 0;
  }

  li {
    margin: 0 0 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    margin: 0;
  }
}