.daterangepicker {
  position: absolute;
  margin: 1rem 0 0;
  display: none;
  z-index: 9999;
  border-radius: 0.8rem;
  box-shadow: 0 0 3rem rgba(0,0,0,0.1);
  background-color: #fff;
  color: @black;

  &.show-calendar {
    .ranges {
      ul {
        padding-left: 27rem;
        padding-right: 27rem;
      }
    }

    .applyBtn {
      width: 8rem;
    }

    .cancelBtn,
    .calendar .calendar-table {
      opacity: 1;
      z-index: 1;
      transition: opacity 0.5s ease, z-index 0s linear 0s;
    }

    .calendar {
      &.left {
        .daterangepicker_input {
          right: 50%;
          opacity: 1;
          transition: opacity 0.5s ease, right 0s linear 0s;
        }
      }

      &.right {
        .daterangepicker_input {
          left: 50%;
          opacity: 1;
          transition: opacity 0.5s ease, left 0s linear 0s;
        }
      }
    }
  }

  &.single {
    width: 27rem;
    height: 30rem;

    .calendar {
      &.left {
        .calendar-table {
          left: 0;
          top: 2rem;
          width: 100%;

          .table-condensed {
            margin: 0 auto;

            .monthselect,
            .yearselect {
              width: 7rem;
              border: 1px solid #e6e9ed;
              border-radius: 0.8rem;
              box-shadow: inset 0 0 0.5rem rgba(0,0,0,0.05);
              background: #fff;
            }

            .monthselect {
              margin: 0 0.5rem 0 0;
            }

            .yearselect {
              margin: 0 0 0 0.5rem;
            }
          }
        }
      }
    }
  }

  .ranges {
    ul {
      width: 14rem;
      margin: 0;
      padding: 2.7rem 4rem 2.2rem;
      list-style-type: none;
      transition: all 0.5s ease;
    }

    li {
      box-sizing: border-box;
      border-radius: 2.6rem;
      height: 2.6rem;
      line-height: 2.4rem;
      padding: 0;
      margin: 0 0 1rem;
      text-align: center;
      font-size: 11px;
      text-transform: uppercase;
      border: 1px solid @blue;
      background: #fff;
      cursor: pointer;
      transition: all 0.2s ease;

      &:last-child {
        margin-bottom: 0;
      }

      &.active,
      &:hover {
        background:@blue;
        color: #fff;
      }
    }
  }

  .range_inputs {
    position: relative;
    box-sizing: border-box;
    height: 8.5rem;
    padding: 2.2rem 4rem;
    background: #f8fafb;
  }

  .applyBtn {
    position: absolute;
    right: 4rem;
    bottom: 2rem;
    width: 14rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.5rem;
    margin: 0;
    text-align: center;
    border-radius: 0.8rem;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    background: @blue;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: #17a7ec;
      color: #fff;
    }
  }

  .cancelBtn {
    position: absolute;
    top: 50%;
    left: 4rem;
    z-index: -1;
    opacity: 0;
    padding: 0;
    margin: -0.5em 0 0;
    border: none;
    text-decoration: underline;
    background: none;
    cursor: pointer;
    color: @blue;
    transition: opacity 0.5s ease, z-index 0s linear 0.5s;
  }

  .calendar {
    &.left {
      .calendar-table {
        left: 2.3rem;
      }

      .daterangepicker_input {
        right: 999999px;
        padding-right: 1rem;
        transition: opacity 0.5s ease, right 0s linear 0.5s;
      }
    }

    &.right {
      .calendar-table {
        right: 2.3rem;
      }

      .daterangepicker_input {
        left: -99999px;
        padding-left: 1rem;
        transition: opacity 0.5s ease, right 0s linear 0.5s;
      }
    }

    .calendar-table {
      position: absolute;
      top: 1.5rem;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.5s ease, z-index 0s linear 0.5s;

      table {
        border-collapse: collapse;
      }

      td,
      th {
        width: 3.2rem;
        height: 3.2rem;
        padding: 0;
        font-size: 1.5rem;
        text-align: center;

        &.off {
          color: #b5bdc9;
        }

        &.in-range {
          background: #f1f6f8;
        }

        &.start-date,
        &.end-date {
          background: @blue;
          color: #fff;
        }

        &.start-date {
          border-radius: 3rem 0 0 3rem;
        }

        &.end-date {
          border-radius: 0 3rem 3rem 0;
        }

        &.start-date.end-date {
          border-radius: 3rem;
        }

        &.available {
          cursor: pointer;
        }
      }

      th {
        text-transform: uppercase;
        color: @blue;

        &.month {
          text-transform: initial;
          color: @black;
          font-weight: bold;
        }

        &.prev {
          background: data-uri('../img/icon_cursor_left.png') center center no-repeat;
          cursor: pointer;
        }

        &.next {
          background: data-uri('../img/icon_cursor_right.png') center center no-repeat;
          cursor: pointer;
        }
      }
    }

    .daterangepicker_input {
      position: absolute;
      bottom: 2rem;
      z-index: 1;
      opacity: 0;

      input {
        height: 4rem;
        width: 14rem;
        padding: 0;
        margin: 0;
        border-radius: 0.8rem;
        border: 1px solid #e6e9ed;
        font-size: 1.4rem;
        text-align: center;
        box-shadow: inset 0 0 0.5rem rgba(0,0,0,0.05);
      }
    }
  }
}