.get-started-progress {
  display: inline-block;
  vertical-align: top;
  height: 80px;
  padding: 0 20px;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  background: @black;
  color: #fff;

  .inline__item {
    margin: 0 8px;
  }
}

.get-started-progress__steps {
  color: @blue;
}

.get-started-progress__title {
  margin-top: 35px;
}

.get-started-progress__status {
  margin-top: 13px;
}