.inline {
  display: inline-block;
  vertical-align: middle;
  margin-top: -13px;
  margin-bottom: -13px;
}

.inline_size_xs {
  margin-top: -2px;
  margin-bottom: -2px;

  .inline__item {
    padding: 2px;
  }
}

.inline_size_sm {
  margin-top: -4px;
  margin-bottom: -4px;

  .inline__item {
    padding: 4px;
  }
}

.inline_size_md {
  margin-top: -8px;
  margin-bottom: -8px;

  .inline__item {
    padding: 8px;
  }
}

.inline_size_lg {
  margin-top: -20px;
  margin-bottom: -20px;

  .inline__item {
    padding: 20px;
  }
}

.inline_fixed {
  white-space: nowrap;
}

.inline_table {
  display: table;
  width: 100%;

  .inline__item {
    display: table-cell;
  }
}

.inline__item {
  display: inline-block;
  vertical-align: middle;
  padding: 13px;

  &:first-child {
    margin-left: 0!important;
  }

  &:last-child {
    margin-right: 0!important;
  }
}