.inline {
  display: inline-block;
  vertical-align: middle;
}

.inline_fixed {
  white-space: nowrap;
}

.inline__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 13px;

  &:first-child {
    margin-left: 0!important;
  }

  &:last-child {
    margin-right: 0!important;
  }
}

.inline__item_space_xs {
  margin-left: 2px;
  margin-right: 2px;
}

.inline__item_space_sm {
  margin-left: 4px;
  margin-right: 4px;
}

.inline__item_space_md {
  margin-left: 8px;
  margin-right: 8px;
}

.inline__item_space_lg {
  margin-left: 20px;
  margin-right: 20px;
}