.logo {
  display: inline-block;
  vertical-align: top;
  width: 15.2rem;
  height: 4.5rem;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url('../img/logo.png') center center no-repeat;
}