.nav {
  display: inline-block;
  vertical-align: top;
  height: 80px;
  line-height: 80px;
  text-transform: uppercase;

  a {
    text-decoration: none;
  }
}

.nav__item {
  position: relative;
  display: inline-block;
  padding: 0 18px;
  color: @black;
}

.nav__item_active {
  font-weight: bold;
  color: @blue;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: @blue;
  }
}