.panel {
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: bottom right;
  color: @black;
  cursor: default;
}

.panel_md {
  padding: 15px;

  .panel__footer {
    margin: 15px -15px -15px;
    padding: 15px;
    font-size: 13px;
  }
}

.panel_apps {
  background-image: data-uri('../img/panel_apps.png');
}

.panel_placements {
  background-image: data-uri('../img/panel_placements.png');
}

.panel_audience {
  background-image: data-uri('../img/panel_audience.png');
}

.panel_users {
  background-image: data-uri('../img/panel_users.png');
}

.panel_popover {
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

.panel_settings {
  .panel__title {
    margin-bottom: 15px;
  }

  .panel__section {
    margin-bottom: 25px;
  }

  .checkbox {
    margin-bottom: 15px;
  }

  .checkbox__ctrl {
    margin-right: 10px;
  }
}

.panel__title {
  margin: 0 0 25px;
  font-size: 15px;
  font-weight: bold;
}

.panel__section {
  margin: 0 0 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.panel__footer {
  margin: 25px -30px -25px;
  padding: 25px 30px;
  border-radius: 0 0 7px 7px;
  background: #f8fafb;
  color: @gray;
}