.select2-container--default .select2-selection--single {
  height: 50px;
  border-radius: 8px;
  border-color: #e6e9ed;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 48px;
  padding-left: 20px;
  padding-right: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px;
  width: 49px;
}

.select2-dropdown {
  border-radius: 8px;
  border-color: #e6e9ed;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: @gray;
}

.select2-results__option {
  padding: 5px 20px;

}

.select2-container--open .select2-dropdown--below .select2-results__option {
  &:last-child {
    border-radius: 0 0 6px 6px;
  }
}

.select2-container--open .select2-dropdown--above .select2-results__option {
  &:last-child {
    border-radius: 0;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: @blue;
}