.sidebar {
  width: 23.4rem;
  height: 100%;
  padding: 0 0 10rem;

  .menu {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

.sidebar__section {
  padding: 3rem;
  border-bottom: 1px solid #eff4f6;

  &:last-child {
    border-bottom: none;
  }
}

.sidebar__title {
  margin: 0 0 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: @gray;
}

.sidebar__copy {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 2rem 3rem;
}