.sidebar {
  position: relative;
  width: 260px;
  height: 100%;
  padding: 0 0 100px;
  background: #f8fafb;

  .menu {
    margin-left: -30px;
    margin-right: -30px;
  }
}

.sidebar__section {
  padding: 30px;
  border-bottom: 1px solid #eff4f6;

  &:last-child {
    border-bottom: none;
  }
}

.sidebar__title {
  margin: 0 0 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: @gray;
}

.sidebar__copy {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 20px 30px;
}