.table {
  width: 100%;

  th {
    padding: 0 0 10px;
    font-weight: normal;
    text-align: left;
    color: @gray;
  }

  td {
    padding: 3px 0;
  }

  td, th {
    padding-left: 15px;
    padding-right: 15px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.table__cell_full-width {
  width: 99%;
}