.tabs {
  overflow: hidden;
  line-height: 1;
  border: 1px solid @gray;
  font-size: 13px;
  color: @blue;
  border-radius: 8px;

  input[type=radio] {
    display: none;
  }
}

.tabs_size_3 {
  .tabs__item {
    width: ~'calc(100% / 3)';
  }
}

.tabs__item {
  float: left;
  box-sizing: border-box;
  min-width: 70px;
  padding: 10px 15px;
  text-align: center;
  border-right: 1px solid @gray;
  cursor: pointer;

  &:last-child {
    border-right: none;
  }

  .icon_white {
    display: none;
  }
}

.tabs__item_active {
  background: @gray;
  color: #fff;

  .icon_white {
    display: inline-block;
  }

  .icon_blue {
    display: none;
  }
}